TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_USER_PHONE=
TELEGRAM_GROUP_USERNAME=
TELEGRAM_GROUP_TIMEZONE=

DB_URL=openplays_local.db

LLM_BASE_URL=http://localhost:1234/v1
LLM_MODEL=
LLM_API_KEY=

ONEMAP_EMAIL=
ONEMAP_PASSWORD=

GOOGLE_PLACES_API_KEY=